@font-face {
	font-family: "herchey-font";
	src: url("../fonts/herchey.otf");
}







/* CSS reset*/

*{
	margin: 0
	padding: 0;
	box-sizing: border-box;
	/*set a defult font for all elements*/
	font-family: 'Lato', sans-serif;
}

html,{
	margin-bottom: 0;
	overflow-x: hidden;
}

#logo{
	height: 50px;
	width: 50px;
}

h6{
	display: inline-block;
	font-size: 30px;
	font-family: 'herchey-font', sans-serif;
}

.textt{
		background-color: rgba(192,192,192, 0.1);
		font-size: 35px;

}
#coffeebtn{
	background-image: url("../images/coffeebean.png");
	background-size: cover;
	background-position: center;
}

.h1h{
	background-color: #808080;
	color: red;

}

.navcolor{
	background-color: #E2854F;
}

/*start landing page*/
.jumbotron {
   margin-bottom: 0;
}

.jumbotron hr{
	background-color: #fff;
}

.indhd{
	height: 100vh;
	background-color: #333;
	background-image: url("../images/headerbg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 0;
	padding-top: 20%;
}

#cntnthd{
	text-align: center;
	color: #fbb023;
}

#cntntabv{
	height: 800px;
	width: 100%;
	background-image: url("../images/cntntabv.jpg");
	background-position: center;
	background-size: cover;
}

#cntnttxtabv{
	font-size: 25px;
	margin-top: 350px;
	color: #fff;
}

#hr1{
	border: 1px solid red;
}

.cntntbg{
	background-image: url("../images/contentbg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cntnt1{
	height: 350px;
	width: 500px;
	background-size: cover;
	background-position: left;
	margin-left: 0px;

}

.cntnt2{
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: left;
	margin-left: 0px;

}

.cntnt3{
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: left;
	margin-left: 0px;

}

#cntnttext1{
	text-align: center;
	margin-top: 80px;
	background-color: #A87D2A;
	margin-top: 0px;
	padding-top: 80px;
}


#cntnttext2{
	width: 100%;
	text-align: center;
	background-color: #4A6D7C;
	margin-top: 0px;
	padding-top: 75px;
}

#cntnttext3{
	text-align: center;
	margin-top: 20px;
	background-color: #C6C5B9;
	margin-top: 0px;
	padding-top: 50px;
}

.pad{
	padding-right: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;

}

.jumbotron h1, .jumbotron p{
	color: #fff;
	font-size: 3em;
	font-family: 'herchey-font', sans-serif;
}

.jumbotron p{
	color: #fff;
	font-size: 2em;
	font-family: 'herchey-font', sans-serif;
}

.btn a{
	text-decoration: none;
	color: #fff;
}
#coffeelogo{
	height: 300;
	widows: 50vw;
}



footer{
	background-color: brown;
}



/*for gallery page*/
#galleryhead{
	height: 100vh;
	background-color: #333;
	background-image: url("../images/gal.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 0;
	padding-top: 20%;
}

#galbg{

	background-color: #333;
	background-image: url("../images/galbg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 0;
	padding-top: 5px;
}

#galtxt{
	font-size: 25px;
	margin-top: 70px;
	color: #fff;
}

.imgcard{
	max-width: 500px;
	max-height: 200px;
}

.crd{
	text-align: center;
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.card-body{
	min-height: 200px;
}

/*end of gallery page*/

/*about page*/

#aboutimg{
	height: 100vh;
	background-color: #333;
	background-image: url("../images/barista.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 0;
	padding-top: 20%;
}

#mission {
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
	height: 500px;
}

#vision {
	background-color: #f2f2f2;
	color: #141414;
	height: 500px;
}

#abtcnt{
	height: 100vh;
	background-color: #333;
	background-image: url("../images/cntntabt.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 0;
	padding-top: 20%;
}

.abttext{
	color: #fbb023;
	margin-top: 100px;
	background-color: rgba(192,192,192, 0.1);
}

.misvis{
	padding-top: 60px;
}

.card-text{
	max-height: 150px;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

/*end of about*/

.contact{
	height: 100vh;
	background-color: white;
	color: white;
	background-image: url("../images/contact.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 0;
	padding-top: 20%;
}






/*media quires*/


@media (min-width: 320px) and (max-width: 480px) {
	h1{
		font-size: 30px;
	}


	#galleryhead{
		padding-top: 10px;
	}


	#cntntbg{
		display: none;
	}

	.texth{
		padding-top: 40%;
	}

	.abttext{
		margin-top: 20px;
	}

	.abtcnt{
		margin-top: 25px;
		font-size: 20px;
	}

	.misvis{
		padding-top: 40%;
		padding-right: 20px;
		padding-left: 20px;
	}

	.text1{
		padding-top: 150px;	
	}

	.frm{
		margin-top: 50px;
	}

	.abttext{
		font-size: 2px;
	}

	.abtcnt{
		margin-top: 25px;
	}
} 

@media only screen and (min-width:321px) and (max-width:768px){
	.cntnt1{
		width: 100%;
	}

	.textt{
		margin-top: 200px; 
	}

	#abtcnt{
		padding-top: 100px;
	}

	.cntnttxtabv{
		font-size: 20px;
	}
}